.temp--dashboard {
    grid-template-columns: 7rem repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
        " aside     search   search     .       user "
        " aside     s1       s1         s2      s2 "
        " aside     s1       s1         s2      s2 "
        " aside     s3       s3         s4      s4 "
        " aside     s3       s3         s4      s4 ";
}

#Section1,
#Section2,
#Section3,
#Section4 {
    padding: 2rem 2rem;
    background-color: var(--sections-background);
    border-radius: var(--grid-gap);
}

#Section1 {
    grid-area: s1;
}

#Section2 {
    grid-area: s2;
}

#Section3 {
    grid-area: s3;
}

#Section4 {
    grid-area: s4;
}